@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
:root {
  --primary-black: #463f3a;
  --primary-yellow: #ffea00;
  --primary-white: #f4f3ee;
  --primary-bootstrap-nav: #343a40;
  --primary-red: #a9333a;
  --primary-green: #17d7a0;
}
body {
  font-family: "Poppins", sans-serif !important;
  background: var(--primary-white);
}
/* navbar starts ==================================*/
.my-logo {
  width: 10rem;
}
/* navbar link */
nav a.nav-link {
  font-weight: 32 rem;
  letter-spacing: 0.625 rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav li a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--primary-white) !important;
  border-top: 0.2rem solid var(--primary-bootstrap-nav);
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6 rem !important;
}
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
  border-bottom: 0.2rem solid var(--primary-yellow);
}
.navbar-nav > li > a:hover {
  border-bottom: 0.2rem solid var(--primary-yellow);
}
/* navbar styling ends =================== */
